# Binarios y Temporales
documentos_crud
*.tmp
*.exe
*.log
*.zip
*~
main

# Variables de entorno
*.env
!.env
!*template.env

# IDEs y otros
.vscode/
.scannerwork/

# Swagger
swagger/**
!swagger/swagger.json
!swagger/swagger.yml
